appdirs==1.4.4
asgiref==3.6.0
attrs==19.3.0
Automat==0.8.0
backports.zoneinfo==0.2.1
blinker==1.4
Brotli==1.0.9
buildozer==1.5.0
cachelib==0.10.2
cachetools==5.3.1
certifi==2023.5.7
chardet==3.0.4
cliapp==1.20180812.1
click==8.1.3
cloud-init==22.4.2
cloud-init-gen==1.2.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cs50==9.2.5
Cython==0.29.36
dbus-python==1.2.16
distlib==0.3.6
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.2
docutils==0.20.1
entrypoints==0.3
ffmpeg==1.4
filelock==3.12.2
Flask==2.2.3
Flask-Session==0.4.0
google-api-core==2.11.1
google-api-python-client==2.91.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
greenlet==2.0.2
httplib2==0.22.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==6.0.0
incremental==16.10.1
itsdangerous==2.1.2
jellyfish==0.11.2
Jinja2==3.1.2
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
Kivy==2.2.1
Kivy-Garden==0.1.5
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lib50==3.0.6
Markdown==3.4.3
MarkupSafe==2.1.2
more-itertools==4.2.0
mutagen==1.46.0
netifaces==0.10.4
numpy==1.24.2
oauthlib==3.1.0
opencv-python==4.7.0.72
packaging==23.1
pafy==0.5.5
pep517==0.13.0
pexpect==4.6.0
Pillow==9.5.0
platformdirs==3.8.0
protobuf==4.23.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycryptodomex==3.18.0
pydub==0.25.1
Pygments==2.15.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.1.0
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.1
python-debian===0.1.36ubuntu1
python-vlc==3.0.18122
PyYAML==6.0
requests==2.22.0
requests-unixsocket==0.2.0
rsa==4.9
SecretStorage==2.3.1
service-identity==18.1.0
sh==1.14.3
simplejson==3.16.0
six==1.14.0
sos==4.4
SQLAlchemy==1.4.46
sqlparse==0.4.3
ssh-import-id==5.10
submit50==3.1.1
systemd-python==234
termcolor==2.2.0
tk==0.1.0
toml==0.10.2
tomli==2.0.1
ttystatus==0.38
Twisted==18.9.0
ubuntu-advantage-tools==8001
ufw==0.36
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.25.8
virtualenv==20.23.1
wadllib==1.3.3
websockets==11.0.3
Werkzeug==2.2.3
youtube-dl==2021.12.17
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz#sha256=6029b1dc0ba366bd6e1683d92eeb85208f6881f3ea48bca48f8e62cefa96de20
zipp==1.0.0
zope.interface==4.7.1
