{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mp3downloader/style.css' %}">
    <title>YTMp3Downloader</title>
</head>
<body>
    <div class="d-flex justify-content-center m-2">      
        <div class="container">
            <h2 class="mt-4 text-center">Youtube Mp3 Downloader</h2>
            
            <form action="{% url 'index' %}" method="POST">
                <div class="form-group d-flex mt-4"> 
                    {% csrf_token %}
                    <input class="form-control mr-2" type="text" name="video_url" id="video_url" autofocus placeholder="Youtube video URL">
                    <input class="btn btn-primary" type="submit" value="Download">
                </div>
            </form>
        </div>
    </div>
</body>
</html>