asgiref==3.7.2
backports.zoneinfo==0.2.1
Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.3
idna==3.4
mutagen==1.46.0
pycryptodomex==3.18.0
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.7.1
urllib3==2.0.4
websockets==11.0.3
yt-dlp==2023.7.6
